body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-logo {
    height: 30px;
    /* width: 100px; */
    margin-right: 10px;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.navbar-menu li a:hover {
    background-color: #575757;
}

body{
	margin: 0;
	padding: 0;
	background: url(../image/background.jpg) no-repeat;
    background-attachment: fixed;
	background-size: cover;

}